#nav-container{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

#nav-container img{
    width: 75px;
}

.nav-list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 35rem;

}

.nav-list li{
  list-style: none;
  
}